#notification_tb{
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    z-index: 2;
    display: none;
}

#notification_close_btn{
    background-color: red;
    width: 100%;
    padding: 8px;
    float: left;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    color: white;
}

#notification_title{
    width: 100%;
    float: left;
    text-align: center;
    padding: 6px;
    font-size: 20px;
    border-bottom: 1px black solid;
    font-weight: bold;
}

#notification_item{
    width: 100%;
    float: left;
}

.notification_pl{
    width: 100%;
    float: left;
    padding: 1em;
    border-bottom: .5px gray solid;
    text-align: center;
    overflow-y: auto;
}

.notification_pl img{
    width: 50px;
    height: 50px;
}

.notification_btn_pl{
    float: left;
    width: 100%;
    padding: 10px;
}

.notification_delete_btn{
    padding: 6px;
    background-color: black;
    color: white;
    border-radius: 6px;
    font-weight: bold;
}

.notification_btn{
    padding: 6px;
    background-color: black;
    color: white;
    border-radius: 6px;
    margin-left: 4px;
}